<%- include('../index/index.ejs') %>
      <main class="flex-auto h-screen w-full min-w-0">
        <header
          class="w-auto bg-white z-20 top-0 left-0 border-b border-gray-200"
        >
          <div class="flex justify-between items-center mx-auto p-4">
            <div class="flex items-center">
              <div class="mr-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="32"
                  height="32"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-layout-dashboard"
                >
                  <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                  <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                  <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                  <rect width="7" height="5" x="3" y="16" rx="1"></rect>
                </svg>
              </div>
              <span
                class="self-center text-2xl font-semibold whitespace-nowrap"
              >
                Dashboard
              </span>
            </div>
          </div>
        </header>

        <section class="overflow-y-auto h-5/6 my-5">
          <div
            class="py- px-4 mx-auto max-w-screen-xl lg:py-4 lg:px-5 flex justify-center items-center "
          >
            <!-- <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ">Designed for business teams like yours</h2>
                  <p class="mb-5 font-light text-gray-500 sm:text-xl ">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
              </div> -->
            <div
              class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0"
            >
              <!-- Analysis Card -->
              <a
                href="#"
                data-modal-toggle="top-outgoing-product"
                data-modal-target="top-outgoing-product"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Outgoing Product</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    >IDOLF Black Chair</span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Product Name</th>
                      <th scope="col" class="px-2 py-2">Quantity out</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">IDOLF Black Chair</td>
                      <td class="px-2 py-2">150</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">Extra Durable Door Mat</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">HALFDAN Dining Table</td>
                      <td class="px-2 py-2">100</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Incoming Product</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    >IDOLF White Chair</span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Product Name</th>
                      <th scope="col" class="px-2 py-2">Quantity In</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">IDOLF White Chair</td>
                      <td class="px-2 py-2">350</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">Extra Durable Door Mat</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">HALFDAN Dining Table</td>
                      <td class="px-2 py-2">100</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">
                  Top Product Return By Reason
                </h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold">Wrong size</span>
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Return Reason</th>
                      <th scope="col" class="px-2 py-2">Number of Returns</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">Wrong size</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">Wrong color</td>
                      <td class="px-2 py-2">55</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">Non-reasons (-)</td>
                      <td class="px-2 py-2">15</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">
                  Top Inventory Quantity By Product Category
                </h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    >IDOLF Black Chair</span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Product Category</th>
                      <th scope="col" class="px-2 py-2">Inventory Quantity</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">IDOLF Black Chair</td>
                      <td class="px-2 py-2">100</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">IDOLF White Chair</td>
                      <td class="px-2 py-2">56</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">HALFDAN Dining Table</td>
                      <td class="px-2 py-2">31</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Sales By Customer</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold">James Wilson</span>
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Customer Name</th>
                      <th scope="col" class="px-2 py-2">Inventory quantity</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">James Wilson</td>
                      <td class="px-2 py-2">150</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">Joseph Holmes</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">Richard Payne</td>
                      <td class="px-2 py-2">100</td>
                    </tr>
                  </tbody>
                </table>
                <!-- <a href="#" class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Get started</a> -->
              </a>
              <a
                href="#"
                class="flex flex-col p-6 max-w-lg text-center text-gray-900 bg-white hover:bg-gray-100 rounded-lg border border-gray-100 shadow"
              >
                <h3 class="text-lg font-semibold">Top Return by Customer</h3>
                <!-- <p class="font-light text-gray-500 sm:text-lg ">Best option for personal use & for your next project.</p> -->
                <div class="flex justify-center items-baseline my-2">
                  <span class="mr-2 text-2xl font-extrabold"
                    >Joseph Holmes</span
                  >
                  <!-- <span class="text-gray-500 ">/month</span> -->
                </div>
                <!-- List -->
                <table
                  class="w-full text-sm text-center text-gray-500 divide-y"
                >
                  <thead class="text-xs text-gray-700 uppercase">
                    <tr>
                      <th scope="col" class="px-2 py-2">Rank</th>
                      <th scope="col" class="px-2 py-2">Customer Name</th>
                      <th scope="col" class="px-2 py-2">Return Quantity</th>
                    </tr>
                  </thead>
                  <tbody class="divide-y">
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        1
                      </th>
                      <td class="px-2 py-2">Joseph Holmes</td>
                      <td class="px-2 py-2">125</td>
                    </tr>
                    <tr class="">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap e"
                      >
                        2
                      </th>
                      <td class="px-2 py-2">John Harris</td>
                      <td class="px-2 py-2">55</td>
                    </tr>
                    <tr class=" ">
                      <th
                        scope="row"
                        class="px-2 py-2 font-medium text-gray-900 whitespace-nowrap"
                      >
                        3
                      </th>
                      <td class="px-2 py-2">David Lewis</td>
                      <td class="px-2 py-2">15</td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>
        </section>

        <!-- Top outgoing product AR modal-->
        <div
          id="top-outgoing-product"
          tabindex="-1"
          aria-hidden="true"
          class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
        >
          <div class="relative w-auto max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
              <!-- Modal header -->
              <div
                class="flex items-start justify-between p-4 border-b rounded-t"
              >
                <div class="mr-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-layout-dashboard"
                  >
                    <rect width="7" height="9" x="3" y="3" rx="1"></rect>
                    <rect width="7" height="5" x="14" y="3" rx="1"></rect>
                    <rect width="7" height="9" x="14" y="12" rx="1"></rect>
                    <rect width="7" height="5" x="3" y="16" rx="1"></rect>
                  </svg>
                </div>
                <h3 class="text-xl font-semibold text-gray-900">
                  Analysis Report
                </h3>
                <button
                  type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                  data-modal-hide="top-outgoing-product"
                >
                  <svg
                    aria-hidden="true"
                    class="w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>

              <!-- Modal body -->
              <div>
                <h3
                  class="text-lg font-semibold bg-gray-50 pt-5 px-5 flex justify-center"
                >
                  Top Outgoing Product By Quantity Out
                </h3>
              </div>
              <div class="grid grid-rows-1 grid-flow-col gap-4 p-5 bg-gray-50">
                <form class="" action="Insert.php" method="post">
                  <div class="overflow-y-auto rounded-xl">
                    <table class="w-auto text-sm text-center text-gray-500">
                      <thead
                        class="text-xs text-gray-700 uppercase bg-gray-100"
                      >
                        <tr>
                          <th scope="col" class="px-4 py-3">Rank</th>
                          <th scope="col" class="px-4 py-3">Product Name</th>
                          <th scope="col" class="px-4 py-3">Quantity Out</th>
                          <!-- <th scope="col" class="px-4 py-3">
                            <span class="sr-only">Actions</span>
                          </th> -->
                        </tr>
                      </thead>
                      <tbody class="divide-y bg-white">
                        <tr class="">
                          <th
                            scope="row"
                            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
                          >
                            1
                          </th>
                          <td class="px-4 py-3">IDOLF Black Chair</td>
                          <td class="px-4 py-3">150</td>
                        </tr>
                        <tr class="">
                          <th
                            scope="row"
                            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
                          >
                            1
                          </th>
                          <td class="px-4 py-3">IDOLF Black Chair</td>
                          <td class="px-4 py-3">150</td>
    
                        </tr>
                        <tr class="">
                          <th
                            scope="row"
                            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
                          >
                            1
                          </th>
                          <td class="px-4 py-3">IDOLF Black Chair</td>
                          <td class="px-4 py-3">150</td>
                        </tr>
                        <tr class="">
                          <th
                            scope="row"
                            class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap"
                          >
                            1
                          </th>
                          <td class="px-4 py-3">IDOLF Black Chair</td>
                          <td class="px-4 py-3">150</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </form>

                <div>

                </div>
              </div>

              <!--  Modal footer  -->
            </div>
          </div>
        </div>

        <!--  -->
      </main>