@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    overflow: hidden;
}

.container .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    padding: 0 10px 0 10px;
    background-color: #182A46;
    border: none;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 5px 10px 2px rgb(0, 0, 0,0.5);
    display:flex;
    flex-direction: column;
    transition: width .5s ease-in;
    z-index: 10;
}

.container .sidebar.hide{
    width: 70px;
    transition: .5s ease-in;
}

.container .sidebar .logo-content{
    height: 70px;
    padding: 10px 0 10px 20px;
    display: flex;
    align-items: center;
    user-select: none;
    pointer-events: none;
}

.container .sidebar.hide .logo-content{
    padding: 10px 0 10px 0;
}

.container .sidebar .logo-content i{
    position: absolute;
    left: 10px;
    margin-right: 10px;
    color: #fff;
}

.container .sidebar .logo-content span#logo-name{
    position: fixed;
    left: 80px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    transition: opacity .5s ease-in;
}

.container .sidebar.hide .logo-content span#logo-name{
    opacity: 0;
    pointer-events: none;
}

.container .sidebar i#arrow-list{
    position: absolute;
    top: 55px ;
    right: -20px;
    background-color: #182A46;
    outline: 3px solid #fff;
    color: #fff;
    border-radius: 20px;
    box-shadow: 5px 2px 10px 2px rgb(0, 0, 0,0.5);
    user-select: none;
    transition: transform .5s ease-in;
}


.container .sidebar.hide i#arrow-list{
    transform: rotate(180deg);
}

.container .sidebar .menu {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.container .sidebar .menu li{
    position: relative;
    left: 0;
    height: 50px;
    width: 100%;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


.container .sidebar .menu li:hover,
.container .sidebar .menu li:hover i,
.container .sidebar .menu li:hover span{
    background-color: white;
    color: #182A46;
}


.container .sidebar .menu li a{
    text-decoration: none;
    user-select: none;
    height: 100%;
    width: 100%;
}

.container .sidebar .menu li i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #fff;
    vertical-align: middle;
    transition: left .5s ease-in;
}

.container .sidebar.hide .menu li i{
    left: 12px;
}


.container .sidebar .menu li span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    transition: opacity .5s ease-in;
}

.container .sidebar.hide .menu li a span{
    opacity: 0;
    pointer-events: none;
}

.container .sidebar .acc-space{
   position: relative;
   width: 100%;
   height: 80px;
   user-select: none;
}

.container .sidebar .acc-space .img{
    position: fixed;
    bottom: 10px;
    height: 50px;
    width: 55px;
    margin-right: 15px;
    left: 10px;
    border-radius: 15px;
    transition: left .2s ease-in;
    overflow: hidden;
}

.container .sidebar .acc-space img{
    position: absolute;
    top: -25px;
    height: auto;
    width: 55px;
}

.container .sidebar.hide .acc-space .img{
    left: 5px;
}

.container .sidebar .acc-space .name{
    position: fixed;
    bottom: 10px;
    left: 80px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: opacity .5s ease-in;
}

.container .sidebar.hide .acc-space .name{
    opacity: 0;
    pointer-events: none;
}

.container .sidebar .acc-space i{
    position: fixed;
    bottom: 15px;
    left: 200px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    transition: opacity .5s ease-in;
    color: #fff;
}

.container .sidebar.hide .acc-space i{
    opacity: 0;
    pointer-events: none;
}