@import url(index-style.css);

.container .content{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: left .5s ease-in;
    transition: width .3s ease-in;
    /* background-color: red; */
}


.container .content .header-content{
    position: relative;
    margin-top: 20px;
    height: 90px;
    border-bottom: 2px solid rgb(0, 0, 0,0.5);
    user-select: none;
}

.container .content .header-content i{
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    left: 100px;
    transition: left .5s ease-in;
}


.container .content.active  .header-content i{
    left: 280px;
}

.container .content .header-content span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 160px;
    font-size: 28px;
    font-weight: 600;
    transition: left .5s ease-in;
}

.container .content.active  .header-content span{
    left: 340px;
}

.container .content .header-content .add-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
}

.container .content .header-content .add-button button{
    height: 35px;
    width: 40px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15806D;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(0, 0, 0,0.3);
}

.container .content .header-content .add-button button:hover{
    background-color: #fff;
    color: #15806D;
    box-shadow: none;
    border: 1px solid #15806D;
}

.add-form.active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:700px;
    height: 700px;
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    z-index: 20;
    border-radius: 10px;
    display: block;
}

.add-form{
   display: none;
}


.add-form.active  .head-form{
    position: relative;
    height: 70px;
    background-color: rgb(150, 167, 211,0.66);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
}

.add-form.active  .head-form:not(.add-button){
    user-select: none;
}

.add-form.active  .head-form i{
    margin-left: 30px;
}

.add-form.active  .head-form span{
    font-size: 32px;
    font-weight: 600;
    margin-left: 20px;
}

.add-form.active  label span{
    user-select: none;
}

.add-form.active  .info{
    background-color: #EFEFEF;
    position: relative;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-form.active  .info label{
    position: relative;
    left: 50px;
    font-size: 16px;
    color: #C2461F ;
}

.add-form.active  .info label[for="manager_name"]{
    margin-top: 10px;
}

.add-form.active  .info label input{
    position: absolute;
    left: 180px;
    width: 300px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(0, 0, 0,0.3);
    border-radius: 5px;
}

.add-form.active  .addr{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
}

.add-form.active  .addr label{
    position: relative;
    top: 10px;
    left: 50px;
    width: 100%;    
    display: flex;
    flex-direction: column;
    color: #C2461F;
}

.add-form.active  .addr label input{
    width: 300px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(0, 0, 0,0.3);
    border-radius: 5px;
}

.add-form.active  .addr label[for="city"]{
    position: absolute;
    top: 130px;
    left:390px;
}

.add-form.active  .addr label[for="zipcode"]{
    position: absolute;
    top: 200px;
    left:390px;
}

.add-form.active  .addr label[for="city"] input,
.add-form.active  .addr label[for="zipcode"] input{
    width: 250px;
}

.add-form.active  .addr label:not(label[for="address"]){
    margin-top: 20px;
}

.add-form.active  .contact{
    background-color: #EFEFEF;
    border-radius: 0 0 10px 10px;
    position: relative;
    width: 100%;
    height: 175px;
    display: flex;
}

.add-form.active  .contact label{
    position: relative;
    top: 25px;
    left: 50px;
    font-size: 16px;
    color: #C2461F ;
    display: flex;
    flex-direction: column;
}

.add-form.active  .contact label[for="email"]{
    left: 190px;
}

.add-form.active  .contact label input{
    margin-top: 5px;
    width: 200px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(0, 0, 0,0.3);
    border-radius: 5px;
}

.add-form.active  .button{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.add-form.active  .button button{
    height: 45px;
    width: 100px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.add-form.active  .button button:hover{
    border: 1px solid #fff;
}

.add-form.active  .button button#confirm{
    margin-right: 150px;
    background-color: rgb(145, 162, 206,0.8);
}

.add-form.active  button#add-cancel{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.add-form.active  button#add-cancel{
    height: 45px;
    width: 100px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.add-form.active  button#add-cancel{
    margin-right: 20px;
    background-color: rgb(220, 136, 136,0.8);
}

.blur{
    filter: blur(5px);
}

.content .content-item{
    position: fixed;
    right: 10px;
    width: calc(100% - 90px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: width .5s ease-in;
}

.content.active .content-item{
    width: calc(100% - 270px);
}


.content-item .item-container{
    position: relative;
    background-color: #213E6A;
    height: 220px;
    min-height: 220px;
    width: 100%;
    min-width: 700px;
    max-width: 900px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.content-item .item-container img{
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 180px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #fff;
}

.content-item .item-container .text-warehouse{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 150px;
    left: 230px;
    width: calc(100% - 270px);
}

.content-item .item-container .text-warehouse span#warehouse-name{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}

.content-item .item-container .text-warehouse .adr{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 10px;
    height: auto;
    max-width:calc(100% - 100px);
    min-width:calc(100% - 500px);
}

.content-item .item-container .text-warehouse .adr{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 5px;
    max-width:calc(100% - 100px);
}

.content-item .item-container .text-warehouse span#manager-name{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
    max-width:calc(100% - 100px);
}

.content-item .item-container .text-warehouse .contact{
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    max-width:calc(100% - 100px);
}

.container span#no_warehouse{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 42px;
    user-select: none;
}

.content-item .item-container .option{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}


.content-item .item-container .option .btn-option{
    width: 70px;
    height: 30px;
    background-color: #DFF2FF;
    border: none;
    color: #000;
}


.content-item .item-container .option a{
    text-align: center;
    text-decoration: none;
}

.content-item .item-container .option button,
.content-item .item-container .option a{
    font-size: 16px;
}

.content-item .item-container .option button:hover{
    cursor: pointer;
}

.content-item .item-container .option .btn-option:hover{
    border: 1px solid rgb(0, 0, 0,0.3);
    background-color: #56B8FF;
}

.content-item .item-container .option .btn-option#delete:hover{
    border: 1px solid rgb(0, 0, 0,0.3);
    background-color: #DA7D7D;
}

.content-item .item-container .option .btn-option#edit{
    border-radius: 7px 7px 0 0;
}

.content-item .item-container .option .btn-option#delete{
    border-radius: 0 0 7px 7px;
}

.edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:700px;
    height: 700px;
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    z-index: 20;
    border-radius: 10px;
    display: block;
}

.edit-form  .head-form{
    position: relative;
    height: 70px;
    background-color: rgb(150, 167, 211,0.66);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
}

.edit-form  .head-form:not(.add-button){
    user-select: none;
}

.edit-form  .head-form i{
    margin-left: 30px;
}

.edit-form  .head-form span{
    font-size: 32px;
    font-weight: 600;
    margin-left: 20px;
}

.edit-form  label span{
    user-select: none;
}

.edit-form  .info{
    background-color: #EFEFEF;
    position: relative;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-form  .info label{
    position: relative;
    left: 50px;
    font-size: 16px;
    color: #C2461F ;
}

.edit-form  .info label[for="manager_name"]{
    margin-top: 10px;
}

.edit-form  .info label input{
    position: absolute;
    left: 180px;
    width: 300px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(0, 0, 0,0.3);
    border-radius: 5px;
}

.edit-form  .addr{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: column;
}

.edit-form  .addr label{
    position: relative;
    top: 10px;
    left: 50px;
    width: 100%;    
    display: flex;
    flex-direction: column;
    color: #C2461F;
}

.edit-form  .addr label input{
    width: 300px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(0, 0, 0,0.3);
    border-radius: 5px;
}

.edit-form  .addr label[for="city"]{
    position: absolute;
    top: 130px;
    left:390px;
}

.edit-form  .addr label[for="zipcode"]{
    position: absolute;
    top: 200px;
    left:390px;
}

.edit-form  .addr label[for="city"] input,
.edit-form  .addr label[for="zipcode"] input{
    width: 250px;
}

.edit-form  .addr label:not(label[for="address"]){
    margin-top: 20px;
}

.edit-form  .contact{
    background-color: #EFEFEF;
    border-radius: 0 0 10px 10px;
    position: relative;
    width: 100%;
    height: 175px;
    display: flex;
}

.edit-form  .contact label{
    position: relative;
    top: 25px;
    left: 50px;
    font-size: 16px;
    color: #C2461F ;
    display: flex;
    flex-direction: column;
}

.edit-form  .contact label[for="email"]{
    left: 190px;
}

.edit-form  .contact label input{
    margin-top: 5px;
    width: 200px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(0, 0, 0,0.3);
    border-radius: 5px;
}

.edit-form  .button{
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.edit-form  .button{
    height: 45px;
    width: 100px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.edit-form  .button:hover,
.edit-form  a#edit-cancel:hover{
    border: 1px solid #fff;
    cursor: pointer;
}

.edit-form  .button#confirm{
    margin-right: 150px;
    background-color: rgb(145, 162, 206,0.8);
}

.edit-form  a#edit-cancel{
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 45px;
    width: 100px;
    border-radius: 8px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    user-select: none;
    color: #000;
    text-decoration: none;
}

.edit-form  a#edit-cancel{
    margin-right: 20px;
    background-color: rgb(220, 136, 136,0.8);
}

.manage-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:900px;
    height: 700px;
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    z-index: 20;
    border-radius: 10px;
    display: block;
}

.manage-form  .head-form{
    position: relative;
    height: 70px;
    background-color: rgb(150, 167, 211,0.66);
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    user-select: none;
}


.manage-form  .head-form i{
    margin-left: 30px;
}

.manage-form  .head-form span{
    font-size: 32px;
    font-weight: 600;
    margin-left: 20px;
}

.manage-form  .table-container{
    position: relative;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 530px;
    border: 1px solid #000;
    overflow-y: scroll;
}

.manage-form table{
    width: 100%;
    border-collapse: collapse;
    user-select: none;
}

.manage-form table th,td{
    border-bottom: 1px solid #000;
    height: 50px;
    text-align: center;
}

.manage-form .head-table{
   background-color: #d9d9d9;
   font-weight: 600;
}

.manage-form tr:not(.head-table){
    font-size: 12px;
    cursor: pointer;
}


.manage-form .check{
    width: 50px;
}
  
.manage-form tr:not(.head-table):hover{
    background-color: #9bb6fc;
}