<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/warehouse-style.css" >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Storage Management</title>
</head>

<body>
    <div class="container">
        <div class="sidebar hide">
            <div class="logo-content">
                <i class='bx bxs-server bx-lg'></i>
                <span id="logo-name">StorageM</span>
            </div>
            <a href="#">
                <i class='bx bx-left-arrow-alt bx-md' id="arrow-list"></i>
            </a>
            <ul class="menu">
                <li class="dashboard">
                    <a href="/">
                        <i class='bx bx-chalkboard bx-sm'></i>
                        <span id="dashboard">DashBoard</span>
                    </a>
                </li>
                <li class="warehouse">
                    <a href="/">
                        <i class='bx bxs-factory bx-sm'></i>
                        <span id="warehouse">WareHouse</span>
                    </a>
                </li>
                <li class="product">
                    <a href="#">
                        <i class='bx bx-package bx-sm'></i>
                        <span id="product">Product</span>
                    </a>
                </li>
                <li class="incomming-order">
                    <a href="#">
                        <i class='bx bx-cart bx-sm'></i>
                        <span id="incomming-order">Incomming Order</span>
                    </a>
                </li>
                <li class="outgoing-order">
                    <a href="#">
                        <i class='bx bx-cart bx-sm'></i>
                        <span id="outgoing-order">Outgoing Order</span>
                    </a>
                </li>
                <li class="return">
                    <a href="#">
                        <i class='bx bx-repost bx-sm'></i>
                        <span id="return">Return</span>
                    </a>
                </li>
            </ul>
            <div class="acc-space">
                <div class="img">
                    <img src="/assets/img/acc-ex.jpg" alt="acc-img" id="acc-pic">
                </div>
                <div class="name">
                    <span id="firstname">Prapakorn</span>
                    <span id="lastname">Butyojanto</span>
                </div>
                <a href="#">
                    <i class='bx bx-exit bx-md'></i>
                </a>
            </div>
        </div>

        <div class="content ">
            <div class="header-content">
                <i class='bx bxs-factory bx-lg '></i>
                <span id="content-name">WareHouse</span>
                <div class="add-button">
                    <button id="add">
                        <label for="add">+</label>
                    </button>
                </div>
            </div>
            <script src="/js/index.js"></script>
</body>
</html>
